.lang_bar li .iclflag{
    width: 18px;
    height: 12px;
}
.fast-link li a:hover{
    text-decoration: none !important;
}
.fast-link li:hover i{
    color: #26b4d7;
    padding-left: 5px;
}
.fast-link li i{
    transition: all 0.5s;
}

.copyrights_area .cws_social_links .cws_social_link{
    width: 28px;
}
.main-nav-container .main-menu>.menu-item>a{
    text-decoration: none;
}
.footer_container .cws-widget{
    margin-left: 19px;
}
#gallery-1 img{
    height: 24vw;
}