html, body{
    font-size: 15px;
}
.lang_bar li .iclflag{
    width: 18px;
    height: 12px;
}
.fast-link li a:hover{
    text-decoration: none !important;
}
.fast-link li:hover i{
    color: #26b4d7;
    padding-right: 5px;
}
.fast-link li i{
    transition: all 0.5s;
}

.copyrights_area .cws_social_links .cws_social_link{
    width: 28px;
}
.ce_title, .comments-area .comments_title, .comments-area .comment-reply-title{
    font-size: 34px;
}
body{
    direction: rtl !important;
}
.main-nav-container .main-menu>.menu-item>a{
    padding: 15px 18px;
    font-size: 18px;
}

.site_top_panel #top_panel_text i.fa{
    padding-right: 20px;
    padding-left: 8px;
}
ul.checkmarks_style li:before {
    content: "" !important;
}
ul.checkmarks_style li:after {
    content: "\f00c";
    font-family: FontAwesome;
    color: #26b4d7 ;
    padding-left: 5px;
    float: right;
}
.cws_fa_tbl .cws_fa_wrapper{
    margin-right: 0;
    margin-left: 20px;
}
.post_preview{
    direction: rtl;
    text-align: right;
}
.post_item .post_thumb_wrapp{
    margin-right: 0;
    margin-left: 8px;
    float: right;
}
.footer_container .cws-widget .post_item .post_date{
    text-align: right;
}
.footer_container .cws-widget ul li{
    text-align: right;
}
.textwidget input,
.textwidget textarea{
    text-align: right;
    color: #fff;
}
.textwidget input::placeholder,
.textwidget textarea::placeholder{
    color: #fff;
}
.footer_container .cws-widget > ul > li:first-child{
    margin-top: 10px;
}
.copyrights_panel_wrapper > * + * {
    margin-right: 8px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.12);
    margin-left: 0;
    padding-left: 0;
    border-left: 0;
}
.cws_social_links .cws_social_link + .cws_social_link{
    margin-right: 3px;
    margin-left: 0;
}
.bread-crumbs{
    text-align: left;
}
.main-nav-container .main-menu>.menu-item>a{
    text-decoration: none;
}
.news .grid .item.small>*{
    margin-right: 0;
    margin-left: 30px;
}
.news .media_part{
    float: right;
    margin-right: 30px;
    margin-left: 30px;
}
.news .item.small .post_info_header{
    text-align: right;
}
.cws-widget .portfolio_item_thumb{
    margin-left: 5px;
}
.item .date{
    margin-right: 30px;
}
form.cf-form>p.text-left{
    text-align: left !important;
}
form.cf-form>p{
    text-align: right;
}
.contact-info h2{
    margin-top: -15px;
    font-size: 15px;
}
.contact-form .captcha-wrapper iframe{
    height: 50px;
    width: 70px;
}
.footer_container .cws-widget{
    margin-left: 19px;
}
#gallery-1 img{
    height: 24vw;
}